/projects
/Applications\ (Parallels)
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/SpiderOak\ Hive
/Turbulenz
/VirtualBox\ VMs
/WebstormProjects
/Work
\#fechas.md\#
\#wlcc-todos.org\#
.\#wlcc-todos.org
.CFUserTextEncoding
/.Trash
/.WebStorm9
.Xauthority
/.adobe
/.android
.anyconnect
.asepriterc
/.atom
.bash_history
.bash_profile
.bashrc
.byebug_hist
/.cache
/.cocoapods
/.composer
/.config
/.cups
/.dvdcss
/.emacs.d
/.emacs.d3
/.filezilla
.floorc
.floorc.json
/.fontconfig
.gdb_history
/.gem
.gitk
.gvimrc
/.heroku
.htoprc
.irb-history
.lesshst
/.lighttable
/.local
/.m2
.mongorc.js
.mysql_history
.netrc
/.node-gyp
/.node
/.npm
.npmrc
/.oh-my-zsh
.pearrc
.pgpass
.php_history
.psql_history
.recently-used
.rnd
/.rvm
/.ssh
/.subversion
/.subversion_IDEA
.tmux.conf
/.vagrant.d
.vim/.netrwhist
.vimrc.back
.zcompdump-Ger\303\263nimo\342\200\231s\ MacBook\ Pro-5.0.2
.zsh_history
.zshrc.orig
.zshrc.pre-oh-my-zsh
analyze_new_cluster.sh
delete_old_cluster.sh
/dev
distribute-0.6.30.tar.gz
distribute-0.6.49.tar.gz
/dowhale
/floobits
git-completion.bash
/go
iTerm-colors.zip
/iTerm-colors
pe.md
/photoshop
/powerline-fonts
/powerline
strace_couch_log
/tmp
/tools
wlcc-todos.org
/workspaces
.WebStorm10
.dbshell
.vegas
.viminfo
.zsh-update
.babel.json
/nuclide
